In [2]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [6]:
#Importing the dataset
data = pd.read_csv("./book_database.csv", sep='&')
data['original_publish_year'] = pd.to_numeric(data['original_publish_year'], errors='coerce')
data = data.dropna(subset=['avg_rating','original_publish_year'])
data = data[data['original_publish_year'] <= 2021]
data = data.drop_duplicates(subset=['title'])
data = data.reset_index(drop=True)
data

,Unnamed: 0,url,title,author,num_reviews,num_ratings,avg_rating,num_pages,original_publish_year,series,genres,awards,places
0,1,https://www.goodreads.com/book/show/40961427-1984,1984,George Orwell,81490.0,3566220.0,4.19,298.0,2013.0,0,Classics;Fiction;Science Fiction;Science Ficti...,Prometheus Hall of Fame Award (1984);Locus Awa...,NaN
1,2,https://www.goodreads.com/book/show/3636.The_G...,The Giver,Lois Lowry,68720.0,1990544.0,4.13,208.0,2006.0,1,Young Adult;Fiction;Classics;Science Fiction;D...,Newbery Medal (1994);Mythopoeic Fantasy Award ...,NaN
2,3,https://www.goodreads.com/book/show/13335037-d...,Divergent,Veronica Roth,111351.0,3242570.0,4.17,487.0,2012.0,1,Young Adult;Science Fiction;Dystopia;Fiction;F...,Georgia Peach Book Award (2012);South Carolina...,"Chicago, Illinois"
3,5,https://www.goodreads.com/book/show/13079982-f...,Fahrenheit 451,Ray Bradbury,54575.0,1896923.0,3.98,194.0,2011.0,0,Classics;Fiction;Science Fiction;Science Ficti...,Prometheus Hall of Fame Award (1984);Geffen Aw...,NaN
4,6,https://www.goodreads.com/book/show/38447.The_...,The Handmaid's Tale,Margaret Atwood,78062.0,1643575.0,4.12,314.0,1998.0,1,Fiction;Classics;Science Fiction;Dystopia;Scie...,Booker Prize Nominee (1986);Nebula Award Nomin...,Republic of Gilead;The United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3160,37,https://www.goodreads.com/book/show/593789.The...,"The City, Not Long After",Pat Murphy,164.0,1000.0,3.89,244.0,2006.0,0,Science Fiction;Apocalyptic;Post Apocalyptic;F...,Arthur C. Clarke Award Nominee (1991);Mythopoe...,"San Francisco, California"
3161,38,https://www.goodreads.com/book/show/17910106-p...,Pillar to the Sky,William R. Forstchen,162.0,1299.0,3.58,400.0,2014.0,0,Science Fiction;Fiction;Audiobook;Apocalyptic;...,NaN,NaN
3162,41,https://www.goodreads.com/book/show/7504472-flu,Flu,Wayne Simmons,167.0,1546.0,3.54,310.0,2010.0,1,Horror;Zombies;Horror;Fiction;Science Fiction;...,NaN,"Belfast, Northern Ireland"
3163,42,https://www.goodreads.com/book/show/15721645-t...,The Different Girl,Gordon Dahlquist,386.0,1583.0,2.89,240.0,2013.0,0,Young Adult;Science Fiction;Science Fiction;Dy...,NaN,NaN
3164,43,https://www.goodreads.com/book/show/18143898-c...,Conquest,John Connolly,235.0,1384.0,3.68,433.0,2014.0,1,Science Fiction;Young Adult;Fantasy;Science Fi...,NaN,NaN

In [106]:
#Description of the dataset
data.describe()

,Unnamed: 0,num_reviews,num_ratings,avg_rating,num_pages,original_publish_year,series
count,298.000000,269.000000,2.690000e+02,269.000000,265.000000,269.000000,298.000000
mean,148.500000,10110.211896,2.151115e+05,3.972862,353.754717,2005.449814,0.526846
std,86.169407,15956.854616,4.717022e+05,0.258694,177.358747,9.289011,0.500119
min,0.000000,3.000000,2.500000e+01,3.120000,30.000000,1958.000000,0.000000
25%,74.250000,1088.000000,1.456500e+04,3.830000,241.000000,2001.000000,0.000000
50%,148.500000,3944.000000,5.621900e+04,3.980000,325.000000,2007.000000,1.000000
75%,222.750000,10765.000000,1.809350e+05,4.130000,417.000000,2012.000000,1.000000
max,297.000000,111351.000000,3.566220e+06,4.890000,1152.000000,2022.000000,1.000000

In [7]:
#finding the null values in the dataset
data.isnull().sum()

Unnamed: 0                  0
url                         0
title                       0
author                      0
num_reviews                 0
num_ratings                 0
avg_rating                  0
num_pages                 197
original_publish_year       0
series                      0
genres                    480
awards                   2400
places                   2652
dtype: int64

In [5]:
# drop all rows with any NaN and NaT values
data1 = data.dropna(subset=['avg_rating'])
data1 = data1.reset_index(drop=True)
data1

,Unnamed: 0,url,title,author,num_reviews,num_ratings,avg_rating,num_pages,original_publish_year,series,genres,awards,places
0,1,https://www.goodreads.com/book/show/40961427-1984,1984,George Orwell,81490.0,3566220.0,4.19,298.0,2013,0,Classics;Fiction;Science Fiction;Science Ficti...,Prometheus Hall of Fame Award (1984);Locus Awa...,NaN
1,2,https://www.goodreads.com/book/show/3636.The_G...,The Giver,Lois Lowry,68720.0,1990544.0,4.13,208.0,2006,1,Young Adult;Fiction;Classics;Science Fiction;D...,Newbery Medal (1994);Mythopoeic Fantasy Award ...,NaN
2,3,https://www.goodreads.com/book/show/13335037-d...,Divergent,Veronica Roth,111351.0,3242570.0,4.17,487.0,2012,1,Young Adult;Science Fiction;Dystopia;Fiction;F...,Georgia Peach Book Award (2012);South Carolina...,"Chicago, Illinois"
3,5,https://www.goodreads.com/book/show/13079982-f...,Fahrenheit 451,Ray Bradbury,54575.0,1896923.0,3.98,194.0,2011,0,Classics;Fiction;Science Fiction;Science Ficti...,Prometheus Hall of Fame Award (1984);Geffen Aw...,NaN
4,6,https://www.goodreads.com/book/show/38447.The_...,The Handmaid's Tale,Margaret Atwood,78062.0,1643575.0,4.12,314.0,1998,1,Fiction;Classics;Science Fiction;Dystopia;Scie...,Booker Prize Nominee (1986);Nebula Award Nomin...,Republic of Gilead;The United States of America
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819,37,https://www.goodreads.com/book/show/593789.The...,"The City, Not Long After",Pat Murphy,164.0,1000.0,3.89,244.0,2006,0,Science Fiction;Apocalyptic;Post Apocalyptic;F...,Arthur C. Clarke Award Nominee (1991);Mythopoe...,"San Francisco, California"
5820,38,https://www.goodreads.com/book/show/17910106-p...,Pillar to the Sky,William R. Forstchen,162.0,1299.0,3.58,400.0,2014,0,Science Fiction;Fiction;Audiobook;Apocalyptic;...,NaN,NaN
5821,41,https://www.goodreads.com/book/show/7504472-flu,Flu,Wayne Simmons,167.0,1546.0,3.54,310.0,2010,1,Horror;Zombies;Horror;Fiction;Science Fiction;...,NaN,"Belfast, Northern Ireland"
5822,42,https://www.goodreads.com/book/show/15721645-t...,The Different Girl,Gordon Dahlquist,386.0,1583.0,2.89,240.0,2013,0,Young Adult;Science Fiction;Science Fiction;Dy...,NaN,NaN
5823,43,https://www.goodreads.com/book/show/18143898-c...,Conquest,John Connolly,235.0,1384.0,3.68,433.0,2014,1,Science Fiction;Young Adult;Fantasy;Science Fi...,NaN,NaN

In [9]:
#MinMax Normilization on avg_rating and scaling from 0 to 10 and saving it into the minmax_norm_rating
data['minmax_norm_rating']= 1+(data['avg_rating']-data['avg_rating'].min())/(data['avg_rating'].max()-data['avg_rating'].min())*9

In [10]:
#Mean normilization
data['mean_norm_rating']= 1+(data['avg_rating']-data['avg_rating'].mean())/(data['avg_rating'].max()-data['avg_rating'].min())*9

In [11]:
data[data['author']=="George Orwell"]

,Unnamed: 0,url,title,author,num_reviews,num_ratings,avg_rating,num_pages,original_publish_year,series,genres,awards,places,minmax_norm_rating,mean_norm_rating
1,1,https://www.goodreads.com/book/show/40961427-1984,1984,George Orwell,81490.0,3566220.0,4.19,298.0,2013,0,Classics;Fiction;Science Fiction;Science Ficti...,Prometheus Hall of Fame Award (1984);Locus Awa...,NaN,8.542,1.440088
7,7,https://www.goodreads.com/book/show/170448.Ani...,Animal Farm,George Orwell,66134.0,3072335.0,3.96,141.0,1996,0,Classics;Fiction;Science Fiction;Dystopia;Fant...,Prometheus Hall of Fame Award (2011);Retro Hug...,England;United Kingdom,8.128,1.026088
176,176,https://www.goodreads.com/book/show/5472.Anima...,Animal Farm / 1984,George Orwell,2251.0,175121.0,4.30,400.0,2003,0,Classics;Fiction;Science Fiction;Dystopia;Lite...,NaN,NaN,8.740,1.638088

In [14]:
data.groupby(data['original_publish_year'])['minmax_norm_rating'].mean()

original_publish_year
1635         9.226000
1845         6.148000
1948         7.318000
1951         7.984000
1957         8.524000
               ...
2020         8.617302
2021         8.774286
2022         9.266500
2106         8.308000
Hardcover    8.434000
Name: minmax_norm_rating, Length: 71, dtype: float64

In [30]:
#data[data['author']=="George Orwell"].sort_values("minmax_norm_rating", ascending=False)['title'][0]
data[data['author']=="George Orwell"].sort_values("minmax_norm_rating", ascending=False)['title'].head(1).item()

'Animal Farm / 1984'